<%- include('../layout/header') %>

<%- include('admin-sidebar') %>

<div class="col-lg-9 welcome-box">
    <div class="ps-4">
        <h1>Welcome <%= n %> </h1>
        <h4><%= e %></h4>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur reprehenderit labore et laborum ipsam assumenda. Iure harum vitae assumenda, minima veniam quasi? Repellendus, reiciendis cum vitae vero aliquam rem harum?</p>
    </div>
</div>
</div>
</div>


<%- include('../layout/footer') %>