<!-- header  -->
<%- include('./layout/header.ejs') %>



<!-- blogs  -->
<div class="container mb-5">
    <h1 class="text-decoration-underline text-center my-5">TechBLOGS</h1>
    <div class="row gx-lg-5 gy-5">

      <% b.forEach((blogitem)=>{ %>

        <div class="col-lg-4">
          <div class="card">
            <img src="<%= blogitem.image.url %>" height="250px" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"><%= blogitem.title %></h5>
              <p class="card-text"><%= blogitem.description.slice(0,120) %></p>
              <p><%= blogitem.createdAt.toLocaleDateString() %></p>
              <a href="/blog-detail/<%= blogitem._id %>" class="btn btn-primary">Read More</a>
            </div>
          </div>
        </div>

      <% }) %>

      </div>
</div>


<!-- footer  -->
<%- include('./layout/footer.ejs') %>