<%- include('../../layout/header.ejs') %>

<%- include('../../admin/admin-sidebar.ejs') %>


<div class="col-lg-9 mb-5">
  <div class="ps-4">
      <div class="d-flex justify-content-between mb-3">
          <div>
              <h2>About</h2>
          </div>
      </div>
      <% if(message.length > 0){ %>
        <div class="alert alert-success">
            <%= message %>
        </div>
      <% } %>
      <div>
          <table class="table table-bordered">
              <thead class="table-light">
                  <tr>
                      <th scope="col">About</th>
                      <th scope="col">Action</th>
                  </tr>
              </thead>
              <tbody>
                <tr>
                  <td><%= a.about %></td>
                  <td class="space-x-3">
                      <a href="/admin/aboutedit/<%= a._id %>" class="text-decoration-none text-warning">
                          <i class="fa-solid fa-pen-to-square"></i>
                      </a>
                  </td>
              </tr>
              </tbody>
          </table>
      </div>
  </div>
</div>
</div>
</div>





<%- include('../../layout/footer.ejs') %>