<%- include('../../layout/header.ejs') %>

<%- include('../../admin/admin-sidebar.ejs') %>


<div class="col-lg-9 mb-5">
    <div class="ps-4">
            <div class="mb-3">
                <h2>About Edit</h2>
            </div>
        <div>
            <form action="/aboutupdate/<%= e._id %>" method="post">
                <div class="mb-3">
                    <label for="" class="mb-2">About</label>
                    <textarea name="about" id="" cols="30" rows="10" class="form-control"><%= e.about %></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Update</button>
            </form>
        </div>
    </div>
</div>
</div>
</div>
  
  
  
  
  <%- include('../../layout/footer.ejs') %>